Description=Time source service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/solar/services/time_source/time_source.py
WorkingDirectory=/root/solar/services/time_source
StandardOutput=journal
StandardError=journal
Restart=always
User=root

[Install]
WantedBy=multi-user.target
